:root {
  --division-orange: oklch(0.7 0.2 45); /* Pulled from logo */
  --main-bg-color: oklch(0.44 0.0168 45);
  --main-text-color: oklch(0.96 0 45);
  --nav-bg-color: oklch(0.28 0.007 45);
  --nav-text-color: oklch(1 0 45);
  --nav-hover-color: var(--division-orange);
}
